[submodule "external/gsd"]
	path = external/gsd
	url = https://github.com/glotzerlab/gsd
	shallow = true
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "external/backward-cpp"]
	path = external/backward-cpp
	url = git@github.com:bombela/backward-cpp.git
